.loginTable
{
  margin-left: 35%;
  width: 30%;
  border: 1px solid gray;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: #eceef1;
padding-bottom: 20px;
}

.loginIndividualDiv{
  width: 75%;
  border: 1px solid #dde3ec;
  background-color: #dde3ec;
  color:#8290a3;
  height:30px;
}

.loginMajorDiv{
  background-color: #364150;
  
}

.loginIndividualDivImg{
  width: 220px;
  height: 220px;
  border: 1px solid #dde3ec;
}

.loginIndividualDivSelect{
  width: 30%;
  height:30px;
  border: 1px solid #dde3ec;
  background-color: #dde3ec;
  color:#8290a3;
}


.loginPageBack
{
position: relative;
right: 125px;
  background-color: #ffffff;
height: 40px;
}

.loginPageSubmit
{
  background-color: #45B6AF;
  color: white;
  height: 40px;
  position: relative;
  left: 125px;
}

.loginPageBackSubmit
{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.loginIndividualDivInput
{
  width: 100%;
  height: 28px;
  border: 1px solid #dde3ec;
  background-color: #dde3ec;
  color:#8290a3;
}