.mainTable
{
   margin-left: 60%;
   margin-right: 60%;
   border: none;
   border-collapse: collapse;
  }

  .maintd
  {
      border: none;
  }

  .maindiv
  {
      padding: 20px;
  }

table, td 
{
    border: 1px solid black;

}

.mainbutton
{
    width: 520px;
    height: 45px;
    border-radius: 45px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: larger;
    box-shadow: 0px 8px 15px rgba(176, 179, 12, 0.1);
    transition: all 0.3s ease;
}

.mainbutton:hover
{
    background: #0ef72d;
    transform: translateY(-7px);
    color: rgb(44, 216, 44);
    box-shadow: 0px 10px 25px rgba(95, 46, 229, 0.445);
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

table, td {    
    border: 1px solid black;  
    margin-left: auto;  
    margin-right: auto;  
    border-collapse: collapse;    
    width: 500px;  
    text-align: center;  
    font-size: 20px;  
    }    
.center
{
    text-align: center;
}

.main
{
    background-color: rgb(188, 144, 224);
}

.row
{
    background-color: rgb(167, 245, 148);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}

.rightSide
{
    display: flex;
    flex-direction: row;
   justify-content: flex-end;
}


.childbutton {
    background-color: #ecf023; /* Green */
    border: none;
    color: rgb(238, 37, 37);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .childbutton:hover {
    background-color: #dc4af0;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hah{

  
  line-height: 2;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  
  box-sizing: border-box;
  
  padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
}

.hd{

  
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  
  box-sizing: border-box;
  border-radius: 0 !important;
  min-height: 41px;
  border-bottom: 0;
  padding: 0 10px;
  margin-bottom: 0;
  color: #fff;
  background-color: #8e5fa2;
}

table{

  border: 1px solid purple;
  line-height: 5;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  
  box-sizing: border-box;
  margin-right: 0px;
  margin-left: 300px;

  display: flexbox;
  align-content: space-between;
}

#applyLeave{
 
  color: #FFFFFF;
  background-color: #26a69a;
}

.div2{

 
  line-height: 2;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  direction: ltr;
  box-sizing: border-box;
  padding: 20px 10px;
  margin: 0;
  background-color: #e8e0e0;
  border-top: 1px solid #e5e5e5;
}

.input{

  background-color: rgb(221, 216, 216);
  padding: 5px;
  margin: 0px;
}

.title{

 
  box-sizing: border-box;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  letter-spacing: -1px;
  display: block;
  color: rgb(42, 41, 41);
  margin: 0px 0px 15px 0px;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

